.welcome-msg {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 50px;
  color: #4c4c4c;
  font-family: Reem Kufi,sans-serif ;
}

.addtodo {
  margin-top: 40px;
  padding: 0% 20%;
}

.addtodo img{
  height: 25px;
  margin-right: 10px;
}

#deleteNodeModal .modal-footer{
  border: none;
}

#deleteNodeModal p{
  font-size: 20px;
  margin-top: 20px;
}

.completed-note{
  text-decoration: line-through;
}

.input-group{
justify-content: space-between;
}